# Mac OS X
*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
*.xcworkspacedata
xcuserdata/

*.opensdf
*.sdf
*.suo
*.ipch

.svn/
obj/

build/
!data/


# Windows
*.ini
*.user
*.suo
*.ncb
*.sdf
*.opensdf
*.exe
*/obj/
*/bin/*.exp
*/bin/*.lib
*/bin/*.pdb
*/bin/*.ilk
*/bin/*.dll


